@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    
}



:root {
    --color-primary: #00bcd4 ;
    --color-secondary:#a2a2a2  ;
    --color-extra: #3f51b5 ;
    --color-last: #fff;
  }  


/*Text Styling*/
@mixin text-center {
    text-align: center;
}
@mixin text-xl {
    font-size: 2.0625rem;
}

@mixin text-lg {
    font-size: 1.3125rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
@mixin text-md {
    font-size: 1.1rem;
    font-weight: 400!important;
}

@mixin text-sm {
    font-size: .88rem;
    letter-spacing: 1px;
}

@mixin text-xsm{
  font-size: .75rem;
}

/*grid style*/
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

/*pad*/

@mixin pad-1{
  padding: 5rem 0;
}


@mixin pad-2 {
  padding: .5rem 0;
}

@mixin auto{
  margin: auto;
  width: 1000px;
}




  
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #595959;
    background-color:#f8f8f8 ;

   
}

a {
    color: #fff;
    text-decoration: none;
}
    
    ul {
    list-style: none;
}

/* nav bar*/
.nav{
  background-color: #fff;
}

.navbar {

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;  
    background-color: var(--color-last);
 border-bottom: 595959 solid 1px ;
}

.brand-title {
    
    font-size: 1.5rem;
    margin: .5rem;
  font-weight: 900
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    @include text-sm;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color:#595959;;
    text-transform: uppercase;

}

.navbar-links a:hover {
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 6%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}








/* nav2 */
.grid-container-one{
   margin: auto;
   width: 70rem;
  }

  .line-1{
    border-top: #e7e7e7 solid 1px;
  }
  
  .grid-main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
 
  .grid-one{
     height: 4.5rem;
     width: 17rem;
     display: flex;
    align-items: center;
    
  }
  
  .grid-one i{
     font-size: 25px;
     margin-left: 10px;
     border: 1px solid #d8d8d8;
     padding: 7px;
     color: var(--color-primary);
     font-size: 30px;
  }
 
  .grid-one .right >*{
     margin-left: 10px;
  }
 
 .grid-one h3{
    @include text-md();
 }

 .grid-one p{
    @include text-sm();
 }


/* section 1 */

.sect-1{
    /*background-image: url("https://www.keydesign-themes.com/etalon/dentist/wp-content/uploads/sites/16/2017/06/blog1.jpg");*/
    background-image: linear-gradient(to right,#349bc4, #535e9f);
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: #1fb8b8;
    height:600px;
    width:100vw;
    background-size: 100vw 1000px;
    color: #fff;
    
  }
  
  .sect-1-content{
   padding-left: 9rem; 
  }
  
  .sect-1-header{
    height: 300px;
    width: 650px;
    padding: 8rem 0;
    
   .left{

    h2{
        font-size: 3rem;
        padding: 1.5rem 0 ;
      }

      .p-1{
        @include text-md;
      }

      .p-2{
        @include text-lg;
        width: 450px;
      }

      .sect-1-buttons{
        .btn{
            margin-top: 1.5rem;
            width: 10rem;
            padding: .8rem 0;
            background-color: #3f51b5;
           
        }
        a{
            color: var(--color-last);
        }
      }


    }

    .right{
        background-image: url('');
    }
  }
  
.sect-1-buttons .btn{
        width: 6rem;
}

  
  
/* section 2 */
  .grid-three i{
    color: var(--color-primary) !important;
  }

  .grid-three h3{
    @include text-lg();
    color: var(--color-secondary)!important;

  }

  .grid-three p{
    @include text-sm();
    margin-bottom: 3rem;
    color: var(--color-secondary) !important;
  }

  .grid-two{
    margin-top: 7rem;
    text-align: center;
    padding-bottom: 3rem;
  }

  .grid-two i{
    font-size: 50px;
    color: var(--color-last);
    margin-bottom: 2.5rem;
  }


  .grid-two h3{
    @include text-lg();
    color: var(--color-last)

  }

  .grid-two p{
    @include text-sm();
    margin-bottom: 3rem;
    color: var(--color-last);
  }


/*banner*/


.banner {
    background-image: url("/Dentalia-main/images/dentalia-demo-bg-lights.jpg");
   width: 100vw;
   height: 10rem;
   background-repeat: no-repeat;
   white-space: nowrap;
   background-position: center center;
 }
 
 
.banner-cont{
    padding: 4rem 0;
    color: #fff;
    display: flex;
   justify-content:  space-between;
   align-items: center;
   margin: auto;
   width: 1100px;



   p{
    @include text-lg();
   }
}

.banner-button{
   
    a{
        display: flex;
        align-items: center;
       
    
    p{
        @include text-sm();
        text-transform: uppercase;
        border: #fff solid 1px;
        padding: .9rem;
    }

    i{
        padding: .73rem;
        font-size: 25px;
    }
}
}

.banner-button:hover{
  background-color: var(--color-last);
  
}

.banner-button a:hover{
  color: var(--color-extra);
}

.banner-button a >*{
    padding: .7rem;
    border: #fff solid 1px;
}

.layer {
  background-color: #5967b7;
    opacity: 0.79;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
/* section 3 */

.section-3{
  
  @include auto();
 @include pad-1();
 padding-bottom: 1rem;
}

.sect-3-img img{
  margin:auto;
  width: 500px;
}

.sect-3-img img{
   height:420px;
  width: 420px;
  border-radius: 50%
}

.sect-3-txt{
  width: 600px;

  
  .p-1{
    @include text-lg();
    color: var(--color-primary);
  }

   .p-2{
    @include text-md();
   }

   .h3{
    @include text-xl();
   }
   
   .p-3{
    @include text-md();
   }
}

.sect-3-txt > *{
  @include pad-2();
}


/*section 4*/
.sect-4{
  margin-bottom: 10rem;
}

.sect-4-cont{
  width: 100vw;
}

.sect-4-main > .grid-two{
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}

.sect-4-main > .grid-two > h3, p{
  z-index: 6;
}



.sect-4-main > .grid-two > *{
 position: relative;
 top: 5rem;
}

.sect-4-main > .grid-two:first-child{
  background-image: url(/Dentalia-main/images/dentalia-demo-equipment-1-750x500.jpg);

} 

.sect-4-main > .grid-two:nth-child(2){
  background-image: url(/Dentalia-main/images/white-teeth-1-750x500.jpg);
} 


.sect-4-main > .grid-two:nth-child(3){
  background-image: url(/Dentalia-main/images/dentalia-demo-dentures-1-750x500.jpg);
} 

.sect-4-main > .grid-two:nth-child(4){
  background-image: url(/Dentalia-main/images/teeth-whitening-dentalia-demo-1-750x500.jpg);
} 

.layer-2{
  background-color: #5967b7;
  opacity: 0.79;
  width: 100vw;
  height: 347px;
  position: absolute;
  bottom: -128px;

}


/*section 5*/

.section-5{
  padding: 4rem 0;
}

.sect-5-header{
  @include text-center();
  @include auto;


  .p-1{
    @include text-lg();
    color: var(--color-primary);
  }

   .p-2{
    @include text-xl();
   }

   
   .p-3{
    @include text-md();
   }
}

.sect-5-header > *{
  @include pad-2();
}

.swiper {
  width: 1100px;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 40px;
  height: 40px;
  ;
}

.sect-5-box{
  width:390px;
  height: 468px;
}

.box-swipe{
height: 495px;
width: 385px;
background-color: #fff; 
}

.box-img{
background-image: url("https://www.keydesign-themes.com/etalon/dentist/wp-content/uploads/sites/16/2018/01/quick-examination-services.jpg");
height:250px;
width: 380px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}


.box-text{
margin:auto;
height:225px;
width:250px;  
padding: 2rem 0;
text-align: left;
}

.box-text > *{


}

.box-text h3{
@include text-md();
padding-bottom: .7rem;
}

.box-text p{
  padding-bottom: 1rem;
@include text-sm();
}

.b-text-2{

}

.btn-1{
    cursor: pointer;
    background: none;
    border: none;
    padding: .5rem .5rem;
    border-radius: 4%;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-last)!important;
    width: 8rem;
    height: 2.2rem;
    white-space: nowrap;
    @include text-xsm();
  }
  
  .sect-5-img-1{
    background-image: url("/Dentalia-main/images/teeth-whitening-dentalia-demo-1-750x500.jpg");
  }

  .sect-5-img-2{
    background-image: url("/Dentalia-main/images/dental-implants-1-750x500.jpg");
  }

  .sect-5-img-3{
    background-image: url("/Dentalia-main/images/dental-emergency-dentalia-demo-1-750x500.jpg");
  }

/*section 6*/
.section-6{
 width: 100vw;
}
.sect-6-img {
  background-image: url(/Dentalia-main/images/dental-examination.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sect-6-img img{
 height: 500px;
}

.sect-6-grid{
  margin: inherit;
  width: inherit;

  .grid-main{
      .grid-two{
        display: flex;
      }
  }
}

.grid-col-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.sect-6-txt{
  margin: auto;
   
  .grid-main{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 500px;
  }
}


/* section 7*/



.sect-7-img{
  height: 320px;
  width: 320px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.sect-7-img:hover{
  filter: grayscale(0%);
  transition: all 500ms ease;
}

.sect-7-p{
  padding: 2rem 0;
}

.swipe-2{
  height: 400px;
  background-color: #f8f8f8;
}

.sect-7{
  padding: 3.5rem 0;
}


/* section-8*/

.section-8{
 width: 100vw;
}
.sect-8-img {
  background-image: url(/Dentalia-main/images/teeth-whitening-dentalia-demo-1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sect-8-img {
 height: 500px;
}

.sect-8-grid{
  margin: inherit;
  width: inherit;

  .grid-main{
      .grid-two{
        display: flex;
      }
  }
}

.Swiper-3{
  width:300px;
}

.slide-3{
  display: flex;
  flex-direction: column ;

  img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
  }

  h4{
    @include text-md();
    letter-spacing: 1.5;
    padding: .5rem 0
  }

  h5{
    @include text-lg();
    font-style: italic;
    padding: .5rem 0
  }

  p{
    @include text-xsm();
    padding: .5rem 0;
  }
}


.divider {
  width: 20%;
  height: 1px;
  background-color: black;
  margin: 40px auto;
}


/*section 9*/

  .sect-9{
      max-width: 100vw;
      padding-bottom: 5rem;
      
  }

  .grid-main-3{
display: grid;
grid-template-columns: repeat(6, 1fr);
justify-items: center;
background-color: #fff;

  }


  .grid-four{
  border: 1px #f3f3f3 solid;
  width: 100%;
  display: flex;
  justify-content: center;

    img{
      height: 148px;
      width: 148px
    }
  }


/* section 10*/

.divider-four{
  width: 23%;
  height: 2px;
  background-color: var(--color-secondary);
}

.list-container-ten > *{
  display: flex;
}

.list-container-ten{

  i{
    order: 2;
  }
}
  





/*Form*/

.form{
  background-color: #f8f8f8;
  padding-bottom: 5rem;
}

.form-header{
  @include text-center();
  @include auto;


  .p-1{
    @include text-lg();
    color: var(--color-primary);
  }

   .p-2{
    @include text-xl();
   }

   
   .p-3{
    @include text-md();
   }
}

.form-header > *{
  @include pad-2();
}


.form-wrap{
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.form-1 {
  padding: 20px;
  width: 820px;
  color: #cccccc;
}

input[type=text] {
   font-weight:900;
}

input[type=text], select {
  width: 100%;
  padding: 20px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 font-weight: 200;
 color: var(--color-secondary);
}

input[type=submit] {
  background-color: #00bcd4;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 2px #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
  font-size: 13px
}

input[type=submit]:hover {
 background-color: #fff;
  color: #1fb8b8;
}



#f-message{
   width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  /*font-size: 16px;*/
  resize: none;
}


.top-row{
  display: flex;
  gap: 10px;
}





/*footer*/
.footer{
  width: 100vw;
  background-color: #2b354b;
}

.rows-1{
  /*
  display: flex;
  justify-content: center;
  */
  padding-left: 8rem;
  height: 400px;
}

.row-1, .row-2 {
  padding-top: 3em;
  width: 25rem;
  line-height: 2;
}


.rows-1 h3{
  color: white;
  text-transform: uppercase;
  padding-bottom: 1rem;
  white-space: nowrap;
 @include text-md();
}

.rows-1 li{
  list-style-type: none;
  padding: .4rem 0;
  @include text-sm();
  color: var(--color-last);
  display: flex;
  justify-content: space-between;
  
}

.row-2 li{
  /*font-size: .70rem;*/
}

.rows-1 li > p:nth-child(2){
  padding-right: 1.5rem;
}

.rows-1{
  display: flex;
}

.rows-1 li:hover {
  color: #1fb8b8;
}

.row-1{
  margin-right: 1rem;
}

.divider-body{
  display: flex;  
}
 .divider-blue {
  width: 7%;
  height: 2px;
  background-color: #00bcd4;
   margin-right: 6px;
}

.divider-grey {
  width: 86%;
  height: 2px;
  background-color: #ccc;
}

.divider-foot {
  width: 95%;
  height: 1px;
  background-color: #ccc;
}











/*Padding*/
.pad-1{
    padding: 2.5rem 0; 
}

.padding-1{
    margin: 5rem 0;
}



/*Button*/
.btn{
    cursor: pointer;
    background: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: 6%;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-blue{
    background-color: var(--color-primary);
    color: var(--color-last)!important;
  }






 
 @media only screen and (max-width: 992px) {
    .grid-main {
      grid-template-columns:repeat(2, 1fr); ; 
  }
  .grid-container-one{
    margin: inherit;
    width: inherit;
  }
/*sect-3*/
  .sect-3-img{
    margin: auto;
    margin-bottom: .7rem;
  }
/*banner*/
  .banner{
    height: 13rem;
  }

  .banner-cont{
    width:100px;
    flex-direction: column;
  }
  .banner-cont > *{
    padding-bottom: 1rem;
  }

  /*section 6*/
  .sect-6-img{
    height: 20rem;
  }

  .grid-col-3{
    grid-template-columns: repeat(1, 1fr);
  }

 } 
 
 
 @media only screen and (max-width: 600px) {
    .grid-main {
      grid-template-columns:repeat(1, 1fr); ; 
  }
 }
 

 
 @media only screen and (max-width: 768px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
   justify-content: center;   
  }
    /*sect-3*/
    .section-3{
    margin: auto;
    width: 450px;
    
  }
    
    .sect-3-txt{
      text-align: center;
    }
 } 